<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="Tests" >
     <parameter name="username" value="admin"/>
     <parameter name="password" value="password"/>
    
        <classes>
            <class name="testNGTests.Activity1"/>
            <class name="testNGTests.Activity2"/>
            <class name="testNGTests.Activity3"/>
            <class name="testNGTests.Activity4DemoOne"/>
            <class name="testNGTests.Activity4DemoTwo"/>
            <class name="testNGTests.Activity5"/>
            <class name="testNGTests.Activity6"/>
            <class name="testNGTests.Activity7"/>
            <class name="testNGTests.Activity9"/>
          
        </classes>
    </test>
</suite>